**Importar datos con API de Kaggle**

**Extracci√≥n de Datos**

In [15]:
import pandas as pd
import psycopg2
import os
from sqlalchemy import create_engine

In [7]:
# Cargar los datasets
orders = pd.read_csv("raw_data/olist_orders_dataset.csv")
order_items = pd.read_csv("raw_data/olist_order_items_dataset.csv")
customers = pd.read_csv("raw_data/olist_customers_dataset.csv")
sellers = pd.read_csv("raw_data/olist_sellers_dataset.csv")
products = pd.read_csv("raw_data/olist_products_dataset.csv")
payments = pd.read_csv("raw_data/olist_order_payments_dataset.csv")




# Ver las primeras filas de cada dataset
print("Orders:\n", orders.head(), "\n")
print("Order Items:\n", order_items.head(), "\n")
print("Customers:\n", customers.head(), "\n")
print("Sellers:\n", sellers.head(), "\n")
print("Products:\n", products.head(), "\n")
print("Payments:\n", payments.head(), "\n")

Orders:
                            order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Order Items:
                            order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Customers:
                         customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Sellers:
                           seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Products:
                          product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Payments:
                            order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

**Revisar datos**

In [8]:
datasets = {
    "orders": orders,
    "order_items": order_items,
    "customers": customers,
    "sellers": sellers,
    "products": products,
    "payments": payments,
}

for name, df in datasets.items():
    print(f"{name.upper()} - Filas: {df.shape[0]}, Columnas: {df.shape[1]}")
    print(df.describe(), "\n")

ORDERS - Filas: 99441, Columnas: 8
                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-08-02 12:05:26  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 19:36:48
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522

ORDER_ITEMS - Filas: 112650, Columnas: 7
       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

CUSTOMERS - Filas: 99441, Columnas: 5
       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

SELLERS - Filas: 3095, Columnas: 4
       seller_zip_code_prefix
count             3095.000000
mean             32291.059451
std              32713.453830
min               1001.000000
25%               7093.500000
50%              14940.000000
75%              64552.500000
max              99730.000000

PRODUCTS - Filas: 32951, Columnas: 9
       product_name_lenght  product_description_lenght  product_photos_qty  \
count         32341.000000                32341.000000        32341.000000
mean             48.476949                  771.495285            2.188986
std              10.245741                  635.115225            1.736766
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32949.000000       32949.000000       32949.000000
mean        2276.472488          30.815078          16.937661
std         4282.038731          16.914458          13.637554
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32949.000000
mean          23.196728
std           12.079047
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000

PAYMENTS - Filas: 103886, Columnas: 5
       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

**Transformaci√≥n de datos**

**Varifiaci√≥n y Limpieza de datos**

In [9]:
for name, df in datasets.items():
    print(f"{name.upper()} - Valores nulos:")
    print(df.isnull().sum(), "\n")
    
    print(f"{name.upper()} - Duplicados: {df.duplicated().sum()} \n")
    print("=" * 50)

ORDERS - Valores nulos:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

ORDERS - Duplicados: 0

==================================================
ORDER_ITEMS - Valores nulos:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

ORDER_ITEMS - Duplicados: 0

==================================================
CUSTOMERS - Valores nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

CUSTOMERS - Duplicados: 0

==================================================
SELLERS - Valores nulos:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

SELLERS - Duplicados: 0

==================================================
PRODUCTS - Valores nulos:
product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

PRODUCTS - Duplicados: 0

==================================================
PAYMENTS - Valores nulos:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

PAYMENTS - Duplicados: 0

==================================================

**Eliminar datos faltantes y tipos de datos**

In [10]:
#Limpieza de de datos faltantes
for name,df in datasets.items():
    df.dropna(inplace=True)
    print(f"{name.upper()} - Valores nulos:")
    print(df.isnull().sum(), "\n")
    
    df.drop_duplicates(inplace=True)
    print(f"{name.upper()} - Duplicados: {df.duplicated().sum()} \n")
    print("=" * 50)

ORDERS - Valores nulos:
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

ORDERS - Duplicados: 0

==================================================
ORDER_ITEMS - Valores nulos:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

ORDER_ITEMS - Duplicados: 0

==================================================
CUSTOMERS - Valores nulos:
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

CUSTOMERS - Duplicados: 0

==================================================
SELLERS - Valores nulos:
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

SELLERS - Duplicados: 0

==================================================
PRODUCTS - Valores nulos:
product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

PRODUCTS - Duplicados: 0

==================================================
PAYMENTS - Valores nulos:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

PAYMENTS - Duplicados: 0

==================================================

In [11]:
#Asegurar tipo de datos fecha
#Revisar tipo de datos 
for name, df in datasets.items():
    print(f"{name.upper()} - Tipos de datos:")
    print(df.dtypes, "\n")

ORDERS - Tipos de datos:
order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

ORDER_ITEMS - Tipos de datos:
order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

CUSTOMERS - Tipos de datos:
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

SELLERS - Tipos de datos:
seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

PRODUCTS - Tipos de datos:
product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

PAYMENTS - Tipos de datos:
order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [12]:
# Convertir columnas de fecha a datetime
orders[[
    "order_purchase_timestamp", 
    "order_approved_at", 
    "order_delivered_carrier_date", 
    "order_delivered_customer_date", 
    "order_estimated_delivery_date"
]] = orders[[
    "order_purchase_timestamp", 
    "order_approved_at", 
    "order_delivered_carrier_date", 
    "order_delivered_customer_date", 
    "order_estimated_delivery_date"
]].apply(pd.to_datetime)

order_items["shipping_limit_date"] = pd.to_datetime(order_items["shipping_limit_date"])

# Convertir c√≥digos postales a string
customers["customer_zip_code_prefix"] = customers["customer_zip_code_prefix"].astype(str)
sellers["seller_zip_code_prefix"] = sellers["seller_zip_code_prefix"].astype(str)

# Convertir columnas num√©ricas con valores nulos a enteros
products[[
    "product_name_lenght",
    "product_description_lenght",
    "product_photos_qty",
    "product_weight_g",
    "product_length_cm",
    "product_height_cm",
    "product_width_cm"
]] = products[[
    "product_name_lenght",
    "product_description_lenght",
    "product_photos_qty",
    "product_weight_g",
    "product_length_cm",
    "product_height_cm",
    "product_width_cm"
]].astype("Int64")  # Permite valores nulos en enteros

# Verificar cambios
datasets = {
    "ORDERS": orders,
    "ORDER_ITEMS": order_items,
    "CUSTOMERS": customers,
    "SELLERS": sellers,
    "PRODUCTS": products,
    "PAYMENTS": payments,
}

for name, df in datasets.items():
    print(f"{name} - Tipos de datos:\n{df.dtypes}\n")

ORDERS - Tipos de datos:
order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

ORDER_ITEMS - Tipos de datos:
order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

CUSTOMERS - Tipos de datos:
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix    object
customer_city               object
customer_state              object
dtype: object

SELLERS - Tipos de datos:
seller_id                 object
seller_zip_code_prefix    object
seller_city               object
seller_state              object
dtype: object

PRODUCTS - Tipos de datos:
product_id                    object
product_category_name         object
product_name_lenght            Int64
product_description_lenght     Int64
product_photos_qty             Int64
product_weight_g               Int64
product_length_cm              Int64
product_height_cm              Int64
product_width_cm               Int64
dtype: object

PAYMENTS - Tipos de datos:
order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

In [13]:
# Crear la carpeta si no existe
os.makedirs("processed_data", exist_ok=True)

# Guardar los DataFrames transformados
customers.to_csv("processed_data/customers.csv", index=False)
sellers.to_csv("processed_data/sellers.csv", index=False)
products.to_csv("processed_data/products.csv", index=False)
orders.to_csv("processed_data/orders.csv", index=False)
order_items.to_csv("processed_data/order_items.csv", index=False)
payments.to_csv("processed_data/payments.csv", index=False)

print("Archivos guardados en la carpeta 'processed_data'.")

Archivos guardados en la carpeta 'processed_data'.

**Carga de datos**

In [ ]:
# Par√°metros de conexi√≥n
DB_NAME = "Ecommerce_DB"
DB_USER = "soporte"
DB_HOST = "localhost"
DB_PASSWORD = "contrase√±a"  # Reemplaza con la contrase√±a real

# Conexi√≥n a PostgreSQL
try:
    conn = psycopg2.connect(
        dbname=DB_NAME,
        user=DB_USER,
        host=DB_HOST,
        password=DB_PASSWORD
    )
    print("Conexi√≥n exitosa a PostgreSQL")
    conn.close()
except Exception as e:
    print("Error en la conexi√≥n:", e)

Conexi√≥n exitosa a PostgreSQL

In [ ]:
# Configurar la conexi√≥n a PostgreSQL
db_user = "soporte"
db_password = "contrase√±a"  # Cambia esto por tu contrase√±a real
db_host = "localhost"
db_port = "5432"
db_name = "Ecommerce_DB"

engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

# Cargar los archivos transformados
customers = pd.read_csv("processed_data/customers.csv")
sellers = pd.read_csv("processed_data/sellers.csv")
products = pd.read_csv("processed_data/products.csv")
orders = pd.read_csv("processed_data/orders.csv", parse_dates=[
    "order_purchase_timestamp", "order_approved_at",
    "order_delivered_carrier_date", "order_delivered_customer_date",
    "order_estimated_delivery_date"
])
order_items = pd.read_csv("processed_data/order_items.csv", parse_dates=["shipping_limit_date"])
payments = pd.read_csv("processed_data/payments.csv")

# Insertar los datos en PostgreSQL
customers.to_sql("customers", engine, if_exists="append", index=False)
sellers.to_sql("sellers", engine, if_exists="append", index=False)
products.to_sql("products", engine, if_exists="append", index=False)
orders.to_sql("orders", engine, if_exists="append", index=False)
order_items.to_sql("order_items", engine, if_exists="append", index=False)
payments.to_sql("payments", engine, if_exists="append", index=False)

engine.dispose()
print("Carga de datos completada con √©xito.")

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "payments" violates foreign key constraint "payments_order_id_fkey"
DETAIL:  Key (order_id)=(5d9c5817e278892b7498d90bfa28ade8) is not present in table "orders".

[SQL: INSERT INTO payments (order_id, payment_sequential, payment_type, payment_installments, payment_value) VALUES (%(order_id__0)s, %(payment_sequential__0)s, %(payment_type__0)s, %(payment_installments__0)s, %(payment_value__0)s), (%(order_id__1)s, %(pa ... 127208 characters truncated ... ent_sequential__999)s, %(payment_type__999)s, %(payment_installments__999)s, %(payment_value__999)s)]
[parameters: {'order_id__0': 'b81ef226f3fe1789b1e8b2acac839d17', 'payment_value__0': 99.33, 'payment_type__0': 'credit_card', 'payment_installments__0': 8, 'payment_sequential__0': 1, 'order_id__1': 'a9810da82917af2d9aefd1278f1dcfa0', 'payment_value__1': 24.39, 'payment_type__1': 'credit_card', 'payment_installments__1': 1, 'payment_sequential__1': 1, 'order_id__2': '25e8ea4e93396b6fa0d3dd708e76c1bd', 'payment_value__2': 65.71, 'payment_type__2': 'credit_card', 'payment_installments__2': 1, 'payment_sequential__2': 1, 'order_id__3': 'ba78997921bbcdc1373bb41e913ab953', 'payment_value__3': 107.78, 'payment_type__3': 'credit_card', 'payment_installments__3': 8, 'payment_sequential__3': 1, 'order_id__4': '42fdf880ba16b47b59251dd489d4441a', 'payment_value__4': 128.45, 'payment_type__4': 'credit_card', 'payment_installments__4': 2, 'payment_sequential__4': 1, 'order_id__5': '298fcdf1f73eb413e4d26d01b25bc1cd', 'payment_value__5': 96.12, 'payment_type__5': 'credit_card', 'payment_installments__5': 2, 'payment_sequential__5': 1, 'order_id__6': '771ee386b001f06208a7419e4fc1bbd7', 'payment_value__6': 81.16, 'payment_type__6': 'credit_card', 'payment_installments__6': 1, 'payment_sequential__6': 1, 'order_id__7': '3d7239c394a212faae122962df514ac7', 'payment_value__7': 51.84, 'payment_type__7': 'credit_card', 'payment_installments__7': 3, 'payment_sequential__7': 1, 'order_id__8': '1f78449c87a54faf9e96e88ba1491fa9', 'payment_value__8': 341.09, 'payment_type__8': 'credit_card', 'payment_installments__8': 6, 'payment_sequential__8': 1, 'order_id__9': '0573b5e23cbd798006520e1d5b4c6714', 'payment_value__9': 51.95, 'payment_type__9': 'boleto', 'payment_installments__9': 1, 'payment_sequential__9': 1 ... 4900 parameters truncated ... 'order_id__990': 'f8868b8046c99c3b68a17b935efe47a9', 'payment_value__990': 199.43, 'payment_type__990': 'boleto', 'payment_installments__990': 1, 'payment_sequential__990': 1, 'order_id__991': 'b7a098563d93a0a1f918772c24ca3831', 'payment_value__991': 172.29, 'payment_type__991': 'credit_card', 'payment_installments__991': 3, 'payment_sequential__991': 1, 'order_id__992': 'ba254174e8ca271319fbd168acd8684d', 'payment_value__992': 126.3, 'payment_type__992': 'credit_card', 'payment_installments__992': 8, 'payment_sequential__992': 1, 'order_id__993': 'd949922726bdc62d5829069a73cc15ca', 'payment_value__993': 116.97, 'payment_type__993': 'credit_card', 'payment_installments__993': 5, 'payment_sequential__993': 1, 'order_id__994': 'd2d6acd468cd36300e20668ae293923e', 'payment_value__994': 158.21, 'payment_type__994': 'credit_card', 'payment_installments__994': 2, 'payment_sequential__994': 1, 'order_id__995': '4b21c757f8c1a51d41c1653e15d8f289', 'payment_value__995': 247.16, 'payment_type__995': 'voucher', 'payment_installments__995': 1, 'payment_sequential__995': 2, 'order_id__996': '9490bfca05997e51ea0beb78eb0918fd', 'payment_value__996': 45.09, 'payment_type__996': 'credit_card', 'payment_installments__996': 4, 'payment_sequential__996': 1, 'order_id__997': '77a4cc7b685fb19e55b78931185be0eb', 'payment_value__997': 172.16, 'payment_type__997': 'credit_card', 'payment_installments__997': 5, 'payment_sequential__997': 1, 'order_id__998': '76a6cde2f1431bc0834cad44ad2f472f', 'payment_value__998': 189.37, 'payment_type__998': 'credit_card', 'payment_installments__998': 2, 'payment_sequential__998': 1, 'order_id__999': '7ef259be178f9f06c72a57add85b71cd', 'payment_value__999': 372.67, 'payment_type__999': 'credit_card', 'payment_installments__999': 3, 'payment_sequential__999': 1}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)